.page-container{
    h2 {
        text-align: center;
        margin: 0.7rem;
    }
    .summary-numbers-conatiner{
        display: flex;
        justify-content: space-around;
    }
}
.analysis-dashboard-container {
    height: 85vh;
    overflow: auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: 2rem 1fr 1fr 2rem;
    grid-template-rows: 1fr 1fr;
    
}

.chart-container {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: rem(3px);
    padding: rem(15px) 0;
    h3 {
        margin: rem(10px) 0;
        text-align: center;
        &.todos-green{
            color:green;
        }
        &.todos-red{
            color: darkred;
        }
    }
    &.summary-numbers-conatiner{
        grid-column: 2/4;
        height: fit-content;
        & .total {
            font-size: 0.8rem;
            font-weight: 400;
        }
    }
    &.cards-by-group-container {
        grid-column: 2;
    }
    &.cards-by-member-container {
        grid-column: 3;
    }
    &.time-in-groups-container {
        grid-column: 2;
    }
}
