.add-member-modal {
    width: rem(200px);
    height: rem(350px) ;
    background-color: peachpuff;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: rem(6px);
    position: absolute;
    z-index: 2;
}

.member-container{
    display: flex;
    cursor: pointer;
    margin: rem(4px);
    font-size: 15px;
    align-items: center;
}

.close-modal-btn{
    align-self: flex-end;
    justify-self: flex-end;
    position: absolute;
}