.board-hub {
    width: 100%;
    // height: 100%;
    
    header {
        padding: 0.5rem 1rem;
        h1 {
            margin: 0px;
            text-align: center;
        }
    }
    section {
        // height: calc(100vh - 9.75rem);
        // overflow-y: scroll;
        padding: 0rem 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(12rem,24rem));
        gap: 1rem;
    }

    .new-board-placeholder {
        .fake-board {
            background-color: rgba(32,32,32,0.8);
            display: flex;
            color: $white;
            height: 12rem;
            border-radius: rem(5px);
            cursor: pointer;
            justify-content: center;
            align-items: center;
            svg {
                font-size: 4rem;
            }
        }

        .fake-board:hover {
            background-color: rgba(32,32,32,0.85);
            transition: 0.1s;
        }
    }
}

.board-preview {
    .board-image {
        border-radius: rem(3px);
        cursor: pointer;
        height: 12rem;
        background-position: center;
        background-size: cover;
        position: relative;
        background-repeat: repeat;
        .board-overlay {
            height: 100%;
            border-radius: rem(3px);
            background: linear-gradient(170deg, rgba(32,32,32,1) 0%, rgba(204,207,213,0) 45%);
        }
        h3 {
            margin: 0px;
            padding: 5%;
            
        }
        .remove {
            position: absolute;
            display: none;
            width: 2rem;
            height: 2rem;
            background-color: $generalIconColor;
            opacity: 70%;
            border-radius: rem(3px);
            margin: 0.25rem;
            right: 0px;
        }
    }

    .board-image:hover {
        .remove {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .remove:hover {
            background-color: $generalIconHoverBox;
        }
    }
    .board-creator,
    .board-last-edited {
        font-size: 0.75rem;
    }
    .board-image:hover {
        .board-overlay {
            background-color: rgba(32,32,32,0.1);
        }
    }
    .board-members {
        display: flex;
        gap: 0.125rem;
    }
}

.home-nav button{
    max-width: initial;
}