.card-details-container {
    position: fixed;
    z-index: 9;
    top: 5vh;
    height: 90vh;
    left: 15vw;
    width: 70vw;
    background-color: $groupClr;

    .card-details-label {
        min-width: 40px;
        max-width: 100%;
        width: fit-content;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 32px;
        border-radius: 3px;
        color: white;
        padding: 0rem 0.75rem;
    }

    .set-due-date-expanded {
        width: fit-content;
    }

    .card-preview-due-date-container {
        padding: 0.25rem 0.5rem;
        color: white;
    }

    .card-preview-due-date-container-long {
        color: #5e6c84;
    }
    .card-preview-due-date-container-close {
        background-color: $labelYellow;
    }
    .card-preview-due-date-container-close::after {
        content: ' Due Soon';
    }
    .card-preview-due-date-container-near {
        background-color: $labelGreen;
    }
    .card-preview-due-date-container-overdue {
        background-color: $labelRed;
    }
    .card-preview-due-date-container-overdue::after {
        content: ' Overdue';
    }

}