.changeBG-container {
    & .style-pallete {
        display: flex;
        justify-content: center;
        & .bg-style {
            border: 1px solid rgb(184, 184, 184);
            margin: 5px;
            width: 100px;
            height: 100px;
            background-color: cadetblue;
            border-radius: 10px;
            position: relative;
            cursor: pointer;

            & .img-container {
                width: 100%;
                height: 80%;
                border-radius: 10px;
                position: absolute;
                bottom: 0;
                transition: bottom 0.2s;
                z-index: 1;
            }
            & :last-child {
                text-align: center;
                width: 100%;
                position: absolute;
                bottom: 0;
                font-size: 0.7rem;
            }
            &:hover {
                & .img-container {
                    bottom: 20%;
                }
            }
        }
    }
}
