
.group-list-outer-container {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    height: 90vh;
    justify-content: flex-start;
    padding: 0 0.5rem;
    position: relative;
}

.group-list-container{
    display: flex;
}




.group-container {
    background-color: $groupClr;
    width: rem(272px);
    height: fit-content;
    max-height: 100%;
    margin: 0 rem(4px);
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    overflow-x: hidden;

    flex-direction: column;
    vertical-align: top;
    padding: 0px 4px;
    color: $textClr;

    .card-container {
        min-height: rem(17px);
        overflow-y: auto;
        border-radius: 3px;
        margin: 0px 4px;
        overflow-x: hidden;

    }


      .card-container::-webkit-scrollbar-button {
        height: 0px;
        width: 0px;
      }

    .group-header {
        font-size: rem(15px);
        font-weight: 800;
        line-height: 20px;
        padding: 10px 8px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        z-index: 1;
    }

    .group-header:last-child{
        font-size: 20px;
    }

}

.group-container-drag{
        background-color: $groupClr;
        // backdrop-filter: saturate(180%) blur(20px);
        width: rem(272px);
        height: fit-content;
        max-height: 100%;
        margin: 0 rem(4px);
        border-radius: 3px;
        box-sizing: border-box;
        display: flex;
        overflow-x: hidden;

        flex-direction: column;
        vertical-align: top;
        padding: 0px 4px;
        color: $textClr;

        transform: scale(1.045) rotate(3.25deg);
        transition: transform .15s;
        box-shadow: 0px 20px 20px -16px rgba(0, 0, 0, 0.55);

        .card-container {
            min-height: rem(17px);
            overflow-y: auto;
            border-radius: 3px;
            margin: 0px 4px;
            overflow-x: hidden;

        }


        .card-container::-webkit-scrollbar-button {
            height: 0px;
            width: 0px;
        }

        .group-header {
            font-size: rem(15px);
            font-weight: 800;
            line-height: 20px;
            padding: 10px 8px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            cursor: pointer;
            z-index: 1;
        }

        .group-header:last-child {
            font-size: 20px;
        }

}

.dots-icon {
    color: $generalIconColor;
    text-align: center;
    padding: rem(4px);
    font-size: 1.4em;


    &:hover {
        color: $generalIconColorHovered;
        background-color: $generalIconHoverBox;
        border-radius: 0.25em;
    }
}

    .new-item-btn {
        // min-height: 38px;
        padding-bottom: 4px;
        display: flex;
        align-items: center;
        color: #5e6c84;
    }
    .new-card-btn-container {
        padding: 4px 8px;
        // margin: 2px 0px 8px;
        font-size: 0.875rem;
        line-height: 1.25rem;
        
        font-family: Roboto-regular;
        .new-item-form {
            width: 100%;

                .save-btn-container {
                    align-items: center;
                }
            
            textarea {
                background-color: #fff;
                height: 58px;
                box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
                // margin: 2px 8px;
                border: none;
                border-radius: 3px;
                outline: 0px;
                margin-bottom: 8px;
                font-size: 0.875rem;
                width: 100%;
                font-family: Roboto;
                padding: 6px 8px 2px;
                resize: none;

            }
    }

    .new-item-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 4px;
        border-radius: 3px;
    }
    .new-item-container:hover {
        background-color: rgba(9, 30, 66, 0.08);

    }
}

.new-group {
    height: 3rem;
    min-width: rem(272px);
    background-color: rgba(50, 50, 50, 0.2);
    cursor: pointer;
    border-radius: rem(4px);
    height: fit-content;
    color: inherit;
    font-size: rem(15px);

    // box-shadow: 0px 4px 14px 1px #0000008f;
}

.add-new-group-text {
    padding: rem(6px) rem(8px);
}

.new-group-form {
    opacity: 1;
    background-color: $groupClr;
    border-radius: rem(4px);

    input {
        width: 95%;
        padding: rem(8px);
        margin: rem(6px);
    }
}
