.group-list-container {
    display: flex;
}

.group-container {
    background-color: $groupClr;
    min-width: rem(272px);
    margin: 0 rem(4px);
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
}

.check{
    height: 3rem;
    min-width: rem(272px);
    background-color:$groupClr;
    cursor: pointer;
}