.group-menu-container{
    width: 200px;
    // height: 200px;
    // display: fixed;
    border-radius: 0.25em;
    background-color: #fff;
    border: 1px solid $groupClr;
    z-index: 5;
    box-shadow: $modalShadow;
    transform: translate(100%, 60%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    padding: rem(6px) ;
    position: absolute;

    cursor: auto;
    // >*{
    // margin-bottom: 8px;
    // padding: rem(6px);

    // }
    &>:first-child{
        padding: rem(8px) 0;
    }

    &>.group-menu-item{
        align-self: flex-start;
        width: 100%;
        text-align: left;
        cursor: pointer;
        padding: rem(8px);

        &:hover{
            background-color: $cardHoverClr;
            border-radius: 0.45em;
        }
    }
}
