.opus {
    font-family: Futura;
}

.main-screen {
    background-color: $white;
    overflow: scroll;
    height: 97vh;

    section {
        height: 50%;
        display: grid;
        grid-template-columns: 1rem 1fr 1fr 1rem;
        gap: rem(10px);
    }

    .home {
        display: block;
        height: 75%;
        .bg {
            width: 100%;
            background-image: url(../../imgs/userflow.svg);
            background-position: right bottom;
            background-repeat: no-repeat;
            background-size: 68%;
            height: 100%;
            color: white;
            .bg-overlay {
                padding: 1rem;
            }
        }
        background: linear-gradient(135deg, #0079bf, #5067c5);

        .header {
            font-size: 2rem;
            h1 {
                display: flex;
                align-items: center;
                margin: rem(20px) rem(10px);
            }
            img {
                width: 200px;
                height: 60px;
            }
            .welcome{
                display: flex;
                align-items: center;
                justify-content: center;
                & span{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    h1 {
                        margin: 0 rem(10px);
                    }
                }
            }
        }

        .main-screen-cta {
            width: 200px;
            height: 60px;
            background-color: $labelGreen;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            font-size: 1.25rem;
            cursor: pointer;
            &:hover {
                background-color: #50a73f;
                font-size: 1.32rem;
                transition: 0.2s;
            }
        }
    }
    .team .text,
    .data .text {
        grid-column: 2;
    }

    .info .text,
    .last-cta .text {
        grid-column: 3;
    }

    .info .img,
    .last-cta .img {
        grid-column: 2;
    }

    .team .img {
        background-image: url(../../imgs/scrum.svg);
    }

    .info .img {
        background-image: url(../../imgs/details.svg);
    }

    .data .img {
        background-image: url(../../imgs/charts.svg);
    }
    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .img {
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .last-cta {
        .img {
            background-image: url(../../imgs/portfolio.svg);
        }
        .cta {
            width: 200px;
            height: 60px;
            background-color: $labelGreen;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 10px;
            font-size: 1.25rem;
            cursor: pointer;
            color: white;
            &:hover {
                background-color: #50a73f;
                font-size: 1.32rem;
                transition: 0.2s;
            }
        }
    }

    .text {
        padding: 1rem;
    }

    .about {
        display: flex;
        flex-direction: column;
        margin-top: rem(10px);
        padding: 1rem;
        background-color: $groupClr;
        height:fit-content;
    }

    .about-cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        grid-auto-rows: auto;
        .links-container {
            display: flex;
            width: 100%;
            justify-content: center;
            margin-bottom: rem(30px);
            a,
            a:visited {
                color: inherit;
                margin: 0 rem(5px);
                svg {
                    width: 2rem;
                    height: 2rem;
                }
            }
        }

        .about-card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .photo {
            margin: 1rem;
            overflow: hidden;
            width: 190px;
            height: 190px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
        }
        img {
            width: 200px;
        }
    }
}

@media screen and (max-width: rem(660px)) {
    .home {
        // height: 70% !important;
        .bg {
            background-size: 80% !important;
        }
        .bg-overlay {
            height: 100%;
            background-color: rgba(32, 32, 32, 0.25);
            display: flex;
            align-items: center;
            flex-direction: column;
            // opacity: 0.2;
            // background: radial-gradient(circle, rgba(32,32,32,0.2) 39%, rgba(242,242,242,0) 84%);
        }
        .welcome{
            flex-direction: column;
            h1 {
                text-align: center;
            }
        }
    }
    .main-screen {
        section {
            height: 60%;
        }
    }
}
