.label-palette {
    & .label {
        width: 100%;
        margin: 5px 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        & .edit-label-btn,
        .remove-label-btn {
            width: 0.7rem;
            &:hover {
                background-color: rgba(0, 0, 0, 0.1);
            }
        }
        & button {
            width: rem(10px);
            height: rem(10px);
        }
        & .label-color {
            width: 82.5%;
            height: rem(30px);
            padding: 0 rem(5px);
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 3px;
            transition: all 0.15s;
            overflow: hidden;
            cursor: pointer;
            & button {
                color: $black;
            }
            &.green:hover {
                box-shadow: -5px 0px 0px 0px darken($labelGreen, 20%);
            }
            &.red:hover {
                box-shadow: -5px 0px 0px 0px darken($labelRed, 20%);
            }
            &.blue:hover {
                box-shadow: -5px 0px 0px 0px darken($labelBlue, 20%);
            }
            &.orange:hover {
                box-shadow: -5px 0px 0px 0px darken($labelOrange, 20%);
            }
            &.purple:hover {
                box-shadow: -5px 0px 0px 0px darken($labelPurple, 20%);
            }
            &.yellow:hover {
                box-shadow: -5px 0px 0px 0px darken($labelYellow, 20%);
            }
            &.grey:hover {
                box-shadow: -5px 0px 0px 0px darken($labelGrey, 20%);
            }
            &.black:hover {
                box-shadow: -5px 0px 0px 0px darken($labelBlack, 20%);
            }
            &.add-label {
                margin: rem(20px) 0;
                width: 100%;
                background-color: $memberClr;
                font-size: 0.7rem;
                color: $closeClr;
                display: flex;
                justify-content: center;
                & + div {
                    top: -9.5rem;
                }
            }
        }
        & .label-text {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 80%;
            transition: all 0.15s;
        }
        & .label-color:hover {
            & span {
                padding-left: rem(5px);
            }
            & svg {
                opacity: 1;
            }
        }
    }
}
.label-edit-modal {
    background-color: #fff;
    height: fit-content;
    top: rem(42px);
    width: rem(190px);
    height: rem(180px);
    border-radius: rem(3px);
    padding: rem(10px);
    position: absolute;
    z-index: 1;
    box-shadow: 0px 0px 5px 0px #000000;
    text-align: center;
    & form {
        position: relative;
        top: rem(30px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    & input[type="text"] {
        height: rem(25px);
        padding-left: rem(5px);
        border-radius: rem(3px);
        border: none;
        background-color: $memberClr;
        font-family: inherit;
    }
    & input:focus {
        outline: none;
    }
    & .close-modal {
        position: absolute;
        top: 0;
        right: 0;
    }
    & .color-pallete {
        display: flex;
        flex-wrap: wrap;
        padding: 0 rem(4px);
        & input[type="radio"] + label {
            margin: rem(5px);
        }
        & input[type="radio"]:checked + label {
            box-shadow: 0 0 0 2px $black;
            border-radius: 3px;
        }
        & .color-picker {
            width: rem(30px);
            height: rem(25px);
            border-radius: rem(3px);
            &:checked {
                border: 1px solid $black;
            }
        }
    }
    & .save-cancel-btns {
        margin: 0 auto;
        & button {
            border-radius: rem(3px);
            cursor: pointer;
        }
    }
}
