.label-filter {
    // position: absolute;
    width: rem(300px);
    min-height: rem(200px);
    background-color: #fff;
    border: 1px solid $groupClr;
    z-index: 5;
    // transform: translate(60%, 54%);
    border-radius: 0.25em;
    display: flex;
    flex-direction: column;
    margin: rem(4px);
    font-size: rem(15px);
    box-shadow: $modalShadow;    
    color: $textClr;

    h3{
        text-align: center;
    }

    button {
        align-self: flex-end;
        position: absolute;
    }
}

.labels-container {
    padding: rem(10px);
    > *:hover {
        background-color: $cardHoverClr;
        border-radius: 0.45em;
    }
    color: $textClr;
    
}

.label {
    width: rem(30px);
    height: rem(30px);
    border-radius: 0.35em;
    padding: rem(10px);
}

.label-inner-container {
    display: flex;
    align-items: center;
    line-height: 1em;
    cursor: pointer;

    p {
        margin-left: rem(12px);
        font-family: Roboto-Regular;
        opacity: 0.5;
        flex-grow: 1;
    }

    :last-child {
        width: rem(18px);
        opacity: 0.8;
    }
}

.labels-header {
    height: 3rem;
    direction: rtl;
    display: grid;
    grid-template-columns: 3rem 1fr 3rem;
    border-bottom: 1px solid rgba(9,30,66,.13);

    div {
        display: flex;
    justify-content: center;
    align-items: center;
    }
    h6 {
        margin: 0rem;
        font-size: 0.875rem;
        font-weight: 400;
        color: $generalIconColor;
    }
}