.sidebar > div:first-of-type {
    background-color: $cardHoverClr;
    width: 235px;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
