* {
    box-sizing: border-box;
}

*::-webkit-scrollbar  {
    // height: 8px;
    width: 8px;
    padding: 2px;
}

*::-webkit-scrollbar-track-piece {
    background: rgba(9,30,66,.08);
}

*::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.15);
    border-radius: 10px;
  }

*::-webkit-scrollbar-button {
    height: 0;
    width: 0;
  }

html {
    font-family: Roboto-Regular;
    line-height: 1.6;
}

body {
    font-size: rem(18px);
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto-Medium;
    line-height: 1;
}

img {
    width: 100%;
}

.green {
    background-color: $labelGreen;
    color: set-text-color($labelGreen);
}
.red {
    background-color: $labelRed;
    color: set-text-color($labelRed);
}
.blue {
    background-color: $labelBlue;
    color: set-text-color($labelBlue);
}
.orange {
    background-color: $labelOrange;
    color: set-text-color($labelOrange);
}
.purple {
    background-color: $labelPurple;
    color: set-text-color($labelPurple);
}
.yellow {
    background-color: $labelYellow;
    color: set-text-color($labelYellow);
}
.grey {
    background-color: $labelGrey;
    color: set-text-color($labelGrey);
}
.black {
    background-color: $labelBlack;
    color: set-text-color($labelGrey);
}

