
.save-btn{
    background-color: $addBtnClr;
    box-shadow: none;
    border: none;
    color: #fff;
}

.save-btn-container{
    min-height: rem(32px);
    height: rem(32px);
    margin-top: 0;
    padding: rem(4px) 0;
}

.close-btn-container{
    height: rem(32px);
    line-height: rem(32px);
    width: rem(32px);
}
