
.save-btn{
    background-color: #5aac44;
    box-shadow: none;
    border: none;
    color: #fff;
}

.save-btn-container{
    min-height: 32px;
    height: 32px;
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 4px;
}

.close-btn-container{
    height: 32px;
    line-height: 32px;
    width: 32px;
}
