// colors and breakpoints

$closeClr: #42526e;
$textClr: #172b4d;
$textLightClr: #F4F5F7;
$groupClr: #EBECF0;
$cardHoverClr: #F4F5F7;
$memberClr: #dfe1e6;

$addBtnClr: #5aac44;
$cancelBtnClr: #D11A2A;

$black: #202020;
$white: #f9f9f9;

$labelGreen: #61BD4F;
$labelYellow: #F2D600;
$labelOrange: #FF9F1A;
$labelRed: #EB5A46;
$labelPurple: #C377E0;
$labelBlue: #028ad8;
$labelGrey: #a7a7a7;
$labelBlack: #202020;

$generalIconColor: #6B778C;
$generalIconColorHovered: #172B4E;
$generalIconHoverBox: #DADCE3;

$modalShadow: 0px 12px 20px -12px rgba(0, 0, 0, 0.5);

// Baord bar buttons
$buttonBgColor:  hsla(0, 0%, 100%, .24);
$buttonBgColorHovered:  hsla(0, 0%, 100%, .3);
$memberClrHovered: #C1C7D0



// board-header-btn {
//     border-radius: 3px;
//     color: #fff;
//     cursor: default;
//     float: left;
//     font-size: 14px;
//     height: 32px;
//     line-height: 32px;
//     margin: 0 4px 4px 0;
//     max-width: 400px;
//     overflow: hidden;
//     padding-left: 32px;
//     position: relative;
//     text-decoration: none;
//     text-overflow: ellipsis;