// colors and breakpoints

$closeClr: #42526e;
$textClr: #172b4d;
$groupClr: #EBECF0;
$cardHoverClr: #F4F5F7;
$memberClr: #dfe1e6;

$addBtnClr: #5aac44;
$cancelBtnClr: #D11A2A;

$black: #202020;
$white: #f9f9f9;

$labelGreen: #61BD4F;
$labelYellow: #F2D600;
$labelOrange: #FF9F1A;
$labelRed: #EB5A46;
$labelPurple: #C377E0;
$labelBlue: #028ad8;
$labelGrey: #a7a7a7;

$generalIconColor: #6B778C;
$generalIconColorHovered: #172B4E;
$generalIconHoverBox: #DADCE3;

$modalShadow: 0px 12px 20px -12px rgba(0, 0, 0, 0.5);