// colors and breakpoints

$closeclr: #42526e;
$textClr: #172b4d;
$groupClr: #EBECF0;
$cardHoverClr: #F4F5F7;
$memberClr: #dfe1e6;

$addBtnClr: #5aac44;
$cancelBtnClr: #D11A2A;

$labelGreen: #61BD4F;
$labelYellow: #F2D600;
$labelOrange: #FF9F1A;
$labelRed: #EB5A46;
$labelPurple: #C377E0;
$labelBlue: #0079BF;
$labelGrey: #808080;